.form {
    border: solid white;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding: 40px; 
    border-radius: 10px; 
}

.innerform {
    display: flex;
    flex-direction: column;
    margin:30px;
    gap: 10px;
}

.legend{
    font-size: larger;
    border: solid white;
    border-radius: 10px;
    padding: 5px;
}

.input{
    display: flex;
    flex-direction: column;
}

.button {
    align-self: center;
}

.campoMarca {
    display: flex;
    justify-content: space-around;
}

.campoFamilias {
    display: flex;
    justify-content: center;
    
}

.Familias{
    display: flex;
    flex-direction: column;
}

.arrayFamilias{
    max-height: 250px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.campoImagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}


